<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<!-- static-resource -->
<head th:include="/share/common-css::common-css"></head>
<!-- static-resource -->
<title>會員資料</title>
</head>
<body>
<!-- header -->
<body th:include="/share/header::header"></body>
<!-- header -->
<div class="container emp-profile">
            <form method="post" id="mainForm" th:object="${userInfo}"> 
            <input type="hidden" th:field="*{age}" />
            <input type="hidden" th:field="*{realName}" />
            <input type="hidden" th:field="*{address}" />
            <input type="hidden" th:field="*{profile}" />  
            <input type="hidden" th:field="*{email}" />
            </form>  
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                          
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                       個人資料
                                    </h5>
                                
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">關於我</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>個人連結</p>
                            <a href="">Website Link</a><br/>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>會員代號</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>000</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>姓名</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Ken</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>電子郵件</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>k123@</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>電話</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>112</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>住址</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>泡泡路</p>
                                            </div>
                                        </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Experience</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Expert</p>
                                            </div>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
                   
        </div>



<script type="text/javascript" th:src="@{/js/user/userinfo}"></script>

<!-- static-resource -->
<body th:include="/share/common-script::common-script"></body> 
<!-- static-resource -->
</body>

</html>