<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<!-- static-resource -->
<head th:include="/share/common-css::common-css"></head>
<!-- static-resource -->
<title>轉頁</title>
</head>
<body th:object=${carrier}>

<input type="hidden" id="code" th:field="*{code}">
<input type="hidden" id="message" th:field="*{message}">
<input type="hidden" id="redirect_url" th:field="*{redirect_url}">




<script type="text/javascript" th:src="@{/js/toPath.js}"></script>

<!-- static-resource -->
<body th:include="/share/common-script::common-script"></body> 
<!-- static-resource -->
</body>

</html>