<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<!-- static-resource -->
<head th:include="/share/common-css::common-css"></head>
<!-- static-resource -->
<title>轉頁</title>
</head>
<body>

<form id="send_form" method="post">
<input type="hidden" id="message" th:if="${message!=null}" th:value="${message}">
<input type="hidden" id="redirect_url" th:if="${redirect_url!=null}" th:value="${redirect_url}">
</form>



<script type="text/javascript">
var message=document.getElementById("message").value;
var redirect_url=document.getElementById("redirect_url").value;
var send_form=document.getElementById("send_form");
console.log(message);
if(!message){
	
    alert(message);
}
send_form.action=redirect_url;
send_form.submit();

</script>
<!-- static-resource -->
<body th:include="/share/common-script::common-script"></body> 
<!-- static-resource -->
</body>

</html>